@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --splash-color: #1FB55C;
    --light-high-emphasis: rgba(255, 255, 255, 0.9);
    --light-low-emphasis: rgba(255, 255, 255, 0.7);
    --dark-high-emphasis: rgba(0, 0, 0, 0.9);
    --dark-low-emphasis: rgba(0, 0, 0, 0.7);
    --sans-serif: 'Poppins', Helvetica, Arial, sans-serif;
    --serif: 'Playfair Display', 'Times New Roman', 'Liberation Serif', serif;
}

.splash {
    background-color: var(--splash-color);
    padding: 3em 5vw;
    & h1 {
        color: var(--light-high-emphasis);
        font-family: var(--sans-serif);
        font-weight: bold;
        font-size: min(100px, 20vw);
    }
    & h2 {
        color: var(--light-low-emphasis);
        font-family: var(--serif);
        font-weight: normal;
        font-size: min(50px, 7vw);
    }
    & .bi {
        color: var(--light-high-emphasis)
    }
}

.mainbody {
    padding: 2vh 5vw;
    & h2 {
        font-family: var(--serif);
        font-size: 2.5em;
    }
}



.socialsList {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--sans-serif);
    align-items: center;
    background-color: var(--dark-high-emphasis);
    margin: 0;
    padding: min(5px, 1vh) 0;
    & li {
        transition: 0.5s;
        font-size: min(30px, 6vw);
        & .linkedin-brand-guideline-compliance {
            /*
            Do not apply modifications to brand logo
            */
            text-shadow: none !important;
            transition: none !important;
            font-size: max(min(30px, 6vw), 21px) !important;
            padding: 0 10px;
        }
    }

    & li:hover {
        text-shadow: 0 0 5px white;
    }

    & a {
        text-decoration: none;
        & i {
            vertical-align: 15%;
        }
    }
    & a:link {
        color: var(--light-high-emphasis);
    }
    & a:visited {
        color: var(--light-low-emphasis);
    }
}

.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: start;
    grid-gap: 1em;
}

.cardBorder {
    width: auto;
		height: 600px;
		overflow: auto;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: var(--dark-low-emphasis);
    box-shadow: 3px 3px 5px gray;
    padding: 10px;
}
.cardTitle {
    font-family: var(--sans-serif);
    color: var(--dark-high-emphasis);
    font-size: 2em;
}
.cardDateLoc {
    font-family: var(--serif);
    color: var(--dark-low-emphasis);
    font-style: italic;
    font-size: 1.2em;
}
.cardText {
    font-family: var(--serif);
    color: var(--dark-high-emphasis);
    font-size: 1.2em;
}
